:root {
    --site-h1-size: 36px;
    --site-h2-size: 30px;
    --site-h3-size: 26px;
    --site-h4-size: 22px;
    --site-h5-size: 18px;
    --site-h6-size: 14px;

    --text-color: #2B373C;
    --site-white: #FFFFFF;
    --site-grey: #919191;
    --site-grey-dark: #232323;
    --site-grey-very-light: #F9F9F9;
    --site-blue: #00aeef;
    --site-blue-dark: #1A3D7A;
    --site-green: #62bd19;
    --site-font: ProximaNova, "Proxima Nova", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-bold: ProximaNovaExCnSemiBold, ProximaNova, "Proxima Nova", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.page__type--product {
    max-width: 760px;
}
.page__type--marketing {
    /* max-width: 1200px; */
}
.page__content, .page__content__outer {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    transition: all .4s;
    background-color: #FFF;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    color: var(--text-color);
    font-family: var(--site-font);
}

.page__content h1,
.page__content h2,
.page__content h3,
.page__content h4,
.page__content h5,
.page__content h6 {
    width: 100%;
    max-width: 1200px;
    word-wrap: break-word;
    font-family: ProximaNova, "Proxima Nova", 'Helvetica Neue', arial, sans-serif;
    text-align: left;
    margin: 16px 0 4px;
    position: relative;
}
.page__content h1 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
}
.page__content h2 {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    letter-spacing: -0.5px;
}
.page__content h3 {
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
}
.page__content h4 {
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
}
.page__content h5 {
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
}
.page__content h6 {
    font-size: 16px;
    line-height: 16px;
    font-weight: 300;
}


.page__content p {
    width: 100%;
    max-width: 1200px;
    position: relative;
    font-family: ProximaNova, "Proxima Nova", 'Helvetica Neue', arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.1em;
    text-align: left;
    margin: 16px 0 4px;
}


.page__content ul {
    width: 100%;
    max-width: 1200px;
    list-style-position: inside;
    margin: 24px auto 0;
    padding: 0 10px;
    font-size: 1.1em;
    line-height: 1.4em;
    font-weight: 400;
}
.page__content li {
    width: 100%;
    font-family: --var(site-font);
    font-size: 20px;
    line-height: 26px;
    font-weight: 400;
    text-align: left;
}


.page__ihp {
    width: 100%;
    max-width: 760px;
    padding: 0;
    margin: 30px auto;
    position: relative;
}
.page__ihp__container {
    position: relative;
}
.page__ihp__header {
    margin-top: 0;
    margin-bottom: 0;
}
.page__ihp--list .page__ihp__text__container,
.page__ihp--row .page__ihp__text__container {
    display: flow-root;
}
.page__ihp--column .page__ihp__text__container h3,
.page__ihp--column .page__ihp__text__container p {
    text-align: center;
}
.page__ihp--list .page__ihp__image__container,
.page__ihp--row .page__ihp__image__container {
    float: right;
    width: 48%;
    padding-left: 14px;
    padding-bottom: 14px;
}
.page__ihp__image {
    width: 100%;
}


.page__spacer {
    width: 100%;
    margin: 0 auto;
    background: transparent;
}
.page__spacer--extra-small {
    height: 10px;
}
.page__spacer--small {
    height: 20px;
}
.page__spacer--medium {
    height: 40px;
}
.page__spacer--large {
    height: 60px;
}
.page__spacer--extralarge {
    height: 80px;
}


.page__banner {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.page__banner__image__container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.page__banner__image {
    width: 100%;
    height: 100%;
}
.page__banner__text__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 50px 10px;
}
.page__banner__header {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.page__banner__header {
    width: 100%;
    margin: 0 auto;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 0;
    color: #FFF;
    z-index: 2;
}
.page__banner__header span:nth-of-type(1) {
    font-size: 32px;
    line-height: 35px;
    margin: 0 auto;
}
.page__banner__header span:nth-of-type(2) {
    font-size: 48px;
    line-height: 54px;
    margin: 0 auto;
}
.page__banner__header span:nth-of-type(3) {
    font-size: 36px;
    line-height: 40px;
    margin: 0 auto;
}
.page__banner__disclaimer {
    position: absolute;
    bottom: 4px;
    right: 6px;
    margin: 0;
    padding: 0;
    color: #FFF;
}

.page__video__wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 24px auto 0;
}

.page__story__row__outer {
    width: 100%;
}
.page__story__row {
    width: 100%;
    display: grid;
    grid-gap: 14px;
}
/* ------------------ MEDIA QUERY ------------------ */
@media screen and (max-width: 950px) {
    .page__banner__header span:nth-of-type(1) {
        font-size: 2.2em;
    }
    .page__banner__header span:nth-of-type(2) {
        font-size: 2.8em;
    }
    .page__banner__header span:nth-of-type(3) {
        font-size: 2em;
    }
}